.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pages {
  display: flex;
  justify-content: center;
}

.pages button {
  float: right;
  padding: 12px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
